.write-about-us {
  padding: 70px 15px;
  text-align: center;
  // row
  .write-about-us__row_ai-center {
    align-items: center; }
  // title
  h2.section-title {
    margin-bottom: 70px; }
  // grid
  .write-about-us__grid {
    margin-bottom: 40px;
    img {
      display: inline-block;
      width: auto;
      max-width: 100%;
      max-height: 40px;
      margin: 0 auto;
      margin-bottom: 20px; }
     .write-about-us__grid-text {
      font-size: 14px; } }
  //mod
  &.write-about-us_bg-gray {
    background: $color_gr_light; } }

// lg 992-1200px
@media #{$lg} {
  // Write about us grid
  .write-about-us {
    // grid
    .write-about-us__grid {
      // img
      img {
        max-height: 25px; } } } }

// lg 768-991px
@media #{$md} {
  // Write about us grid
  .write-about-us {
    padding: 50px 15px;
    // grid
    .write-about-us__grid {
      // img
      img {
        max-height: 25px;
        margin-bottom: 25px; } } } }

// sm 576-767px
@media #{$sm} {
  // Section
  .write-about-us {
    padding: 20px 15px;
    // Section title
    h2.section-title { margin-bottom: 40px; }
    // grid
    .write-about-us__grid {
      // img
      img {
        max-height: 20px;
        margin-bottom: 15px; } } } }

// xs max575px
@media #{$xs} {
  // Section
  .write-about-us {
    padding: 20px 15px;
    // Section title
    h2.section-title { margin-bottom: 40px; }
    .write-about-us__grid {
      // img
      img {
        max-height: auto;
        margin-bottom: 15px; } } } }
