.franchise-social-rating {
  padding-top: 70px;
  padding-bottom: 70px;

  // Title
  .franchise-social-rating__title {
    text-align: center;
    margin-bottom: 60px; }

  // Img block
  .franchise-social-rating__rate {
    max-width: 720px;
    img {
      display: block;
      width: 100%;
      height: auto; } }

  // Info block
  .franchise-social-rating__info {
    max-width: 180px;
    margin-top: 60px;
    position: relative;
    // Year
    .franchise-social-rating__info-year {
      font-size: 28px;
      font-weight: $weigth_reg;
      margin-bottom: 10px; }
    // Description
    .franchise-social-rating__info-description {
      line-height: 1.2em;
      color: $color_gr; }
    // Before icon
    &::before {
      content: '';
      display: inline-block;
      width: 60px;
      height: 50px;
      position: absolute;
      top: -60px;
      left: 15px;
      background: url( ../images/franchise/franchise-social-rating/rate-icon.svg ) 50% 50% no-repeat;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain; } }

}

@media #{$xs} {
  @import "media/xs.scss"; }
