// Style's file of news page
.section-title.news-page-title {
  margin: 30px 0px;
}

// News page wrapper
.news-page-wrapper {
  background: #F7F9FA;
  padding: 15px 0px 50px 0px;

  // Left content side
  .content-left {
    margin-right: -15px;

    // Section item block
    section.news-page-item {
      background: $color_wt;
      margin-bottom: 35px;
      padding-bottom: 30px;
      // IMG block
      .img-top-block {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
        .news-img-inner-bg {
          display: block;
          width: 100%;
          min-height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }

      .news-page-text-block {
        padding-left: 30px;
        padding-right: 30px;

        // New's item ifo row
        .news-page-ifo-row {
          color: $color_gr;
          font-weight: $weigth_reg;
          margin-bottom: 20px;

          // Cat info
          .cat-info {
            font-style: italic;
            ul {
              padding: 0px;
              margin: 0px;
              list-style: none;
              li {
                display: inline-block;
                margin-right: 8px;
                float: left;
                &:last-child {
                  margin-right: 0px;
                }
                a {
                  color: #a0a0a0;
                  text-decoration: none !important;
                  &:hover {
                    color: $color_pr;
                  }
                }
              }
            }
          }
          // Cat info END

        }
        // Info row END

        // Title
        .news-page-title-link {
          text-decoration: none !important;
          h2 {
            color: $color_bk;
            font-size: 30px;
            margin-bottom: 15px;
            @include trs(.3s);
            &:hover, &:focus, &:active {
              color: $color_pr;
            }
          }
        }

      }
      // Text block END
    }
    // Section page item END
  }
  // Content left END

  // Right sidebar
  .sidebar-right {
    background: $color_wt;
    padding: 45px 30px;
    // Sidebar title
    .sidebar-title {
      color: $color_pr;
      font-size: 28px;
      margin-bottom: 30px;
    }
    // Sidebar news latest
    ul.sidebar-latest {
      display: block;
      padding: 0px;
      margin: 0px;
      margin-bottom: 40px;
      list-style: none;
      font-size: 0px;
      li {
        margin-bottom: 15px;
        display: block;
        a {
          font-size: 16px;
          color: $color_gr;
          text-decoration: none !important;
          font-weight: $weigth_reg;
          &:hover, &:focus, &:active {
            color: $color_pr;
          }
        }
      }
    }
    // Sidebar new's latest END
    // Sidebar new's subsribe
    .sidebar-subscribe {
      input {
        border: 1px solid transparent;
        display: block;
        width: 100%;
        max-width: 260px;
        font-weight: normal;
        font-size: 14px;
        color: $color_bk;
        background: #f1f1f1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 17px;
        @include trs(.6s);
        &::-webkit-input-placeholder {
          color: $color_bk;
        }
        &::-moz-placeholder {
          color: $color_bk;
        }
        &:-moz-placeholder {
          color: $color_bk;
        }
        &:-ms-input-placeholder {
          color: $color_bk;
        }
        &:focus {
          border: 1px solid $color_pr;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          outline: 0 !important;
        }
      }

      button.btn {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        max-width: 260px;
        text-transform: uppercase;
      }
    }

    // Sidebar new's category
    .sidebar-category {
      margin-bottom: 45px;
      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 0px;
        li {
          display: block;
          margin-bottom: 10px;
          a {
            font-size: 16px;
            color: $color_gr;
            text-decoration: none !important;
            &:hover, &:focus, &:active {
              color: $color_pr;
            }
          }
          &.current-cat a {
            color: $color_pr;
          }
        }
      }
    }

    // Sidebar new's archive link
    .sidebar-archive-link {
      margin-bottom: 45px;
      .sub-title {
        color: $color_gr;
        font-size: 14px;
        display: block;
        padding-bottom: 12px;
        margin-bottom: 17px;
      }
      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        font-size: 0px;
        li {
          display: block;
          margin-bottom: 10px;
          a {
            color: $color_gr;
            font-size: 16px;
            text-decoration: none;
            &:hover, &:active, &:focus {
              color: $color_pr;
            }
          }
        }
      }
    }
    // Sidebar new's archive link END
  }
  // Sidebar right END
  // Share on post page
  .ya-share2 {
    margin-bottom: 50px;
  }
}

// News page wrapper END

// lg 992-1200px
@media #{$lg} {
  .news-page-wrapper .content-left {
    margin-right: 0px;
  }
}

// md 768-991px
@media #{$md} {
  .news-page-wrapper .content-left {
    margin-right: 0px;
  }
}

// sm 576-767px
@media #{$sm} {
  .news-page-wrapper .content-left {
    margin-right: 0px;
  }
}

// xs 575px
@media #{$xs} {
  .news-page-wrapper .content-left {
    margin-right: 0px;
  }
}
