// Office feauteres grids
.office-feauteres-grids {
    padding-top: 80px;
    padding-bottom: 40px;
    // title
    .office-feauteres-grids__title {
        margin-bottom: 55px;
    }
}

// Work happy
.office-work-happy {
    padding-top: 60px;
    padding-bottom: 60px;
    // row
    .office-work-happy__row {
        align-items: center;
    }
    // img
    .office-work-happy__img {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    // title
    .office-work-happy__title {
        font-weight: $weigth_reg;
        font-size: 24px;
        margin-bottom: 30px;
    }
    // description
    .office-work-happy__description {
        max-width: 435px;
    }
}

// Office add feauteres
.office-add-feauteres {
    padding-top: 40px;
    padding-bottom: 40px;
    // title
    .office-add-feauteres__title {
        margin-bottom: 80px;
    }
}

.office-design {
    &-portfolio {
        padding-top: 60px;
        padding-bottom: 40px;
        &__title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            position: relative;
            display: block;
            color: $color_bk;
            width: 100%;
            @media (max-width: 575px) {
                font-size: 20px;
            }
        }
        &__subtitle {
            font-size: 18px;
            line-height: 22px;
            max-width: 757px;
            text-align: center;
            margin: 0px auto 40px auto;
            color: $color_bk;
            @media (max-width: 575px) {
                font-size: 14px;
                margin-bottom: 25px;
            }
        }
    }
}
