.franchise-social-rating {
  padding-top: 25px;
  padding-bottom: 25px;

  // Title
  .franchise-social-rating__title {
    margin-bottom: 20px; }

  // Img block
  .franchise-social-rating__rate {
    margin-bottom: 30px; }

  // Info
  .franchise-social-rating__info {
    max-width: 100%;
    margin-top: 60px; }
}
