.franchise-require {
  max-width: 100%;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;

  // Title
  .franchise-require__main-title {
    margin-bottom: 25px;
  }

  // Col
  .franchise-require__col {
    margin-bottom: 25px;
  }

}
