// Color's
$color_pr: #fdb341;
$color_bk: #272727;
$color_gr: #8b8b8b;
$color_gr_light: #f7f9fa;
$color_wt: #fff;

// Font weigth
$weigt_light: normal;
$weigth_reg: bold;

$lg: '(min-width: 992px) and (max-width: 1199px )';

$md: '(min-width: 768px) and (max-width: 991px )';

$md-max: '(max-width: 991px )';

$sm: '(min-width: 576px) and (max-width: 767px )';

$xs: '(max-width: 575px)';
