// How getting
.how-getting {
  padding-top: 50px;
  padding-bottom: 50px;
  // subtitle
  .how-getting__sub-title {
    font-size: 18px;
  }
}

// Why help
.why-help {
  padding-bottom: 0px;
  // description
  .why-help__description {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

// Indicators feauteres
.indicators-feauteres {
  margin-top: 50px;
  // description
  .indicators-feauteres__description {
    font-size: 18px;
    margin-bottom: 50px;
  }
  // bottom block
  .indicators-feauteres__bottom-row {
    // description
    .indicators-feauteres__bottom-row-description {
      margin-bottom: 30px;
    }
  }
}

// Protect you
.protect-you {
  margin-bottom: 50px;

  // row
  .protect-you__row {
    // img
    .protect-you__img {
      margin-bottom: 30px;
    }
  }
}
