// Cottage work pack
.cottage-work-pack {
  padding-top: 80px;
  padding-bottom: 40px;
  // top block
  .cottage-work-pack__top-block {
    margin-bottom: 70px;
    // description
    .cottage-work-pack__top-block-description {
      text-align: center;
      max-width: 800px;
      margin: 0 auto;
      font-size: 22px;
    }
  }
}

// Algorithm work
.algorithm-work {
  padding-top: 80px;
  // title
  .algorithm-work__title {
    text-align: center;
    font-weight: $weigth_reg;
    margin-bottom: 20px;
  }
  // description
  .algorithm-work__title-sub {
    text-align: center;
    font-size: 22px;
    margin-bottom: 60px;
  }

  // grid
  .algorithm-work__grid {
    min-height: 370px;
    margin-bottom: 60px;
    // img
    .algorithm-work__grid-img {
      display: inline-block;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-bottom: 35px;
    }
    // title
    .algorithm-work__grid-title {
      font-weight: $weigth_reg;
      font-size: 24px;
      margin-bottom: 15px;
    }
    // description
    .algorithm-work__grid-description {
      font-size: 16px;
      color: $color_gr;
      max-width: 350px;
    }
  }

  // bottom block
  .algorithm-work__bottom {
    align-items: center;
    margin-bottom: 60px;

    // left text block
    .algorithm-work__bottom-left {
      margin-bottom: 20px;
      // title
      .algorithm-work__bottom-title {
        font-size: 30px;
        font-weight: $weigth_reg;
        margin-bottom: 15px;
      }
      // description
      .algorithm-work__bottom-description {
        font-size: 18px;
        max-width: 530px;
      }
    }
    // right img
    .algorithm-work__bottom-right {
      margin-bottom: 20px;
      // img
      .algorithm-work__bottom-img {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
