.franchise-pano {
  padding-top: 25px;

  // Title
  .franchise-pano__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  // Description
  .franchise-pano__description {
    font-size: 14px;
    line-height: 18px;
    margin: 0px auto 15px auto;
  }

  // Pano
  .panorama {
    height: 200px;
    .panorama-view {
      height: 200px;
    }
  }
}
