// How getting
.how-getting {
  padding-top: 75px;
  padding-bottom: 75px;
  // subtitle
  .how-getting__sub-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
  }
}

// Why help
.why-help {
  padding-bottom: 80px;
  // description
  .why-help__description {
    font-size: 22px;
    margin-bottom: 70px;
    text-align: center;
  }
}

// Indicators feauteres
.indicators-feauteres {
  margin-top: 100px;
  margin-bottom: 30px;
  // description
  .indicators-feauteres__description {
    text-align: center;
    font-size: 22px;
    margin-bottom: 80px;
  }
  // feauteres
  .indicators-feauteres__row {
    // grid
    .indicators-feauteres__grid {
      margin-bottom: 50px;
      .indicators-feauteres__grid-text {
        font-size: 18px;
        margin-left: 60px;
        position: relative;
        min-height: 72px;
        .indicators-feauteres__grid-count {
          color: $color_pr;
          font-size: 72px;
          position: absolute;
          left: -60px;
          top: 0px;
        }
      }
    }
  }
  // bottom block
  .indicators-feauteres__bottom-row {
    margin-bottom: 80px;
    align-items: center;
    // title
    .indicators-feauteres__bottom-row-title {
      text-align: left;
    }
    // description
    .indicators-feauteres__bottom-row-description {
      font-size: 18px;
    }
    // img
    .indicators-feauteres__bottom-row-img {
      display: inline-block;
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}

// Protect you
.protect-you {
  margin-bottom: 80px;
  // title
  .protect-you__title {
    margin-bottom: 45px;
  }
  // row
  .protect-you__row {
    align-items: center;
    // img
    .protect-you__img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    // text
    .protect-you__text {
      font-size: 18px;
    }
  }
}

@media #{$xs} {
  @import "media/xs";
}
