.franchise-your-profit {
  padding-top: 25px;
  padding-bottom: 25px;

  // Title
  .franchise-your-profit__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  // IMG
  .franchise-your-profit__img {
    max-width: 180px;
    margin: 0 auto 20px auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  // Description
  .franchise-your-profit__description {
    font-size: 14px;
    line-height: 18px;
    margin: 0px auto 20px auto;
  }

  // Numbers
  .franchise-your-profit__numbers {
    font-size: 14px;
  }
}
