// Portfolio section
section#main-page-portfolio {
  padding-top: 50px;
  // padding-bottom: 85px;
  a.link-arrow { margin-bottom: 20px; }

  .portfolio-mobile-carousel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }

}

// sm 576-767px
@media #{$sm} {
  // LinkArrow
  section#main-page-portfolio {
    padding-top: 20px;

    .padding-50-sm-portfolio {
      padding-left: 50px;
      padding-right: 50px; }

    .grid__effect-roxy_nav {
      .owl-prev, .owl-next {
        text-indent: -10000px;
        cursor: pointer;
        display: block;
        background: $color_pr;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(69, 69, 69, 0.3);
        -moz-box-shadow: 0px 0px 10px 0px rgba(69, 69, 69, 0.3);
        box-shadow: 0px 0px 15px 0px rgba(69, 69, 69, 0.15);
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        margin-top: -30px;
        z-index: 1; }

      .owl-prev {
        left: 15px;
        background-image: url(../images/icon/back.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 50% 50%; }

      .owl-next {
        right: 15px;
        background-image: url(../images/icon/next.svg);
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: 50% 50%; }

    }

  }
}

// xs max575px
@media #{$xs} {
  // LinkArrow
  section#main-page-portfolio {
    padding-top: 20px;

    .padding-50-sm-portfolio {
      padding-left: 30px;
      padding-right: 30px; }

    .grid__effect-roxy_nav {
      .owl-prev, .owl-next {
        text-indent: -10000px;
        cursor: pointer;
        display: block;
        background: $color_pr;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(69, 69, 69, 0.3);
        -moz-box-shadow: 0px 0px 10px 0px rgba(69, 69, 69, 0.3);
        box-shadow: 0px 0px 15px 0px rgba(69, 69, 69, 0.15);
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        margin-top: -20px;
        z-index: 1; }

      .owl-prev {
        left: 10px;
        background-image: url(../images/icon/back.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 50% 50%; }

      .owl-next {
        right: 10px;
        background-image: url(../images/icon/next.svg);
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: 50% 50%; }

    }

  }
}
