.franchise-seven-steps {
  background: url( ../images/franchise/franchise-seven-steps/franchise-seven-steps.jpg ) 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;

  // Title
  .franchise-seven-steps__title {
    text-align: center;
    margin-bottom: 100px; }

  // Step's
  .franchise-seven-steps__step {
    margin-bottom: 60px;

    // Inner
    .franchise-seven-steps__step-inner {
      max-width: 257px;
      position: relative;
      margin-left: 60px;
      line-height: 1.8em;
      // Count
      .franchise-seven-steps__step-count {
        font-size: 70px;
        line-height: 70px;
        color: $color_pr;
        position: absolute;
        top: 70%;
        left: -60px;
        margin-top: -35px; } } }

  // Feedback form
  .franchise-seven-steps__feedback-form {
    max-width: 450px;
    margin: 0 auto; }

  //mod
  .franchise-seven-steps__row {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media #{$lg} {
  @import "media/lg.scss"; }
