@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanovabold-webfont.woff2') format('woff2'),
         url('../fonts/proximanovabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal; }

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanovaregular-webfont.woff2') format('woff2'),
         url('../fonts/proximanovaregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; }
