#main-wrapper.wrapper {
  position: relative;
  transition: filter .3s ease;
  &.blur-modal {
    filter: brightness(50%);
  }
}

// Header position
header#main-header {
  background: $color_wt;
  width: 260px;
  min-height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  padding: 30px 50px 30px 50px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0px rgba(69, 69, 69, 0.15);
}

// Main content position
main#main-container, footer#main-footer {
  margin-left: 260px;
}

// Main header style's
header#main-header {

  // Logo
  .logo-header {
    margin-bottom: 30px;
    img {
      height: auto;
      max-width: 120px;
    }
  }

  // Nav
  nav#main-nav {
    .menu {
      margin: 0px;
      padding: 0px;
      font-size: 0px;
      list-style: none;
      margin-bottom: 30px;
      li {
        display: block;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0px;
        }
        &.current_page_item > a {
          color: $color_pr !important;
        }
        a {
          color: $color_bk;
          font-size: 11px;
          white-space: nowrap;
          text-transform: uppercase;
          &:hover, &:focus, &:active {
            color: $color_pr;
            text-decoration: none;
          }
        }

        // sub-menu
        &.menu-item-has-children {
          overflow: hidden;
          // link
          & > a {
            display: inline-block;
            position: relative;
            margin-right: 20px;
            &::after {
              content: '';
              display: inline-block;
              width: 10px;
              height: 10px;
              background: url(../images/icon/down-arrow.svg) 50% 50% no-repeat;
              background-size: 10px;
              position: absolute;
              top: 0px;
              right: -20px;
              transition: .3s ease;
            }
          }
          // ul
          .sub-menu {
            padding-left: 10px;
            transition: .6s ease;
            max-height: 0px;
            opacity: 0;
            // li
            li {
              &:first-child {
                padding-top: 20px;
              }
              // link
              a {
                color: $color_gr;
                font-weight: $weigt_light;
              }
            }
          }
          // activ
          &.current-menu-ancestor {
            // link
            & > a {
              color: $color_pr;
              &::after {
                transform: rotate(90deg);
              }
            }
            // sub menu
            .sub-menu {
              max-height: 200px;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  // BTN
  .header-btn-block {
    margin: 0px -13px 30px -13px;
    .btn.btn_1 {
      width: 100%;
      padding: 14px 0px 14px 0px;
      text-transform: uppercase;
    }
  }
  // Contact block
  .heade-contact-block {
    color: $color_gr;
    font-size: 13px;
    // Adress
    .adress {
      font-weight: $weigth_reg;
      margin-bottom: 18px;
      letter-spacing: 0.5px;
      font-style: normal;
    }
    // Phone's
    .header-phone {
      margin-bottom: 18px;
      .phone-number {
        font-weight: $weigth_reg;
        white-space: nowrap;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
        font-style: normal;
      }
      .phone-info {
        font-size: 0.9em;
        font-style: normal;
      }
    }
  }
}

// Menu mobile BTN
#nav-icon3 {
  width: 45px;
  height: 45px;
  position: fixed;
  top: 15px;
  right: 15px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  background: $color_pr;
  border-radius: 40px;
  border: 3px solid $color_wt;
  box-shadow: 0px 0px 10px 0px rgba(69, 69, 69, 0.3);
  z-index: 9;
  display: none;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 24px;
    background: $color_wt;
    border-radius: 3px;
    opacity: 1;
    left: 50%;
    margin-left: -12px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child( 1 ) {
      top: 9px;
    }
    &:nth-child( 2 ), &:nth-child( 3 ) {
      top: 18px;
    }
    &:nth-child( 4 ) {
      top: 27px;
    }
  }

  &.open span {
    &:nth-child( 1 ), &:nth-child(4) {
      opacity: 0;
    }
    &:nth-child( 2 ) {
      transform: rotate(45deg);
    }

    &:nth-child( 3 ) {
      transform: rotate(-45deg);
    }
  }
}

// max-width 991px
@media #{$md-max} {

  // Header mobile
  header#main-header {
    transition: transform .3s ease;
    transform: translateX(-260px);
  }

  // Main and footer mobile
  main#main-container, footer#main-footer {
    margin-left: 0px;
  }

  // Menu BTN
  #nav-icon3 {
    display: block;
  }

  // Menu overlay
  .mobile-menu-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 8;
  }

  // Open menu mobile
  #main-wrapper.wrapper.open {
    // Header mobile open
    header#main-header {
      transform: translateX(0px);
    }
  }

}
