.clients-find-us {
  padding-top: 70px;
  padding-bottom: 70px;

  // Title
  .clients-find-us__title-main {
    margin-bottom: 70px; }

  .clients-find-us__row {
    margin-bottom: 75px;
    &:last-child {
      margin-bottom: 0px; } }

  // Row img mobile
  .clients-find-us__row-img_mobile {
    display: none; }

  // Row title
  .clients-find-us__title {
    font-size: 24px;
    color: $color_pr;
    max-width: 285px;
    margin-bottom: 15px;
    //mod
    &.clients-find-us__title_bold {
      font-weight: $weigth_reg; } }

  // Row description
  .clients-find-us__description {
    font-size: 16px;
    line-height: 20px;
    max-width: 440px; }

  // Img block
  .clients-find-us__img {
    img {
      display: block;
      width: 100%;
      height: auto; }
      //mod
      &.clients-find-us__img_pr-0 { padding-right: 0px; }
      &.clients-find-us__img_pl-0 { padding-left: 0px; } }

}

@media #{$lg} {
  @import "media/lg.scss"; }

@media #{$md} {
  @import "media/md.scss"; }

@media #{$sm} {
  @import "media/sm.scss"; }

@media #{$xs} {
  @import "media/xs.scss"; }
