.page-franchising {
    padding-top: 45px;
    padding-bottom: 60px;
    background: url(../images/franchise/frachise-page-feedback/frachise-page-feedback_bg.jpg) 50% 50% no-repeat;
    background-size: cover;
}
