.feauteres-grids {

  // col
  .feauteres-grids__col {
    margin-bottom: 40px;

    // icon
    .feauteres-grids__col-icon {
      display: block;
      height: 60px;
      width: 100%;
      min-width: 80px;
      max-width: 100%;
      position: relative;
      margin-bottom: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;

      // Cattage page
      &.feauteres-grids__col-icon_cottage-1 {
        background-image: url(../images/service/cottage/feauteres-grids/1.svg);
      }
      &.feauteres-grids__col-icon_cottage-2 {
        background-image: url(../images/service/cottage/feauteres-grids/2.svg);
      }
      &.feauteres-grids__col-icon_cottage-3 {
        background-image: url(../images/service/cottage/feauteres-grids/3.svg);
      }
      // Office page
      &.feauteres-grids__col-icon_office-1 {
        background-image: url(../images/service/office/feauteres-grids/1.svg);
      }
      &.feauteres-grids__col-icon_office-2 {
        background-image: url(../images/service/office/feauteres-grids/2.svg);
      }
      &.feauteres-grids__col-icon_office-3 {
        background-image: url(../images/service/office/feauteres-grids/3.svg);
      }

      &.feauteres-grids__col-icon_office-2-1 {
        background-image: url(../images/service/office/feauteres-grids_2/1.svg);
      }
      &.feauteres-grids__col-icon_office-2-2 {
        background-image: url(../images/service/office/feauteres-grids_2/2.svg);
      }
      &.feauteres-grids__col-icon_office-2-3 {
        background-image: url(../images/service/office/feauteres-grids_2/3.svg);
      }
      &.feauteres-grids__col-icon_office-2-4 {
        background-image: url(../images/service/office/feauteres-grids_2/4.svg);
      }
      // Help getting
      &.feauteres-grids__col-icon_help-getting-1 {
        background-image: url(../images/service/help-getting/feauteres-grids/1.svg);
      }
      &.feauteres-grids__col-icon_help-getting-2 {
        background-image: url(../images/service/help-getting/feauteres-grids/2.svg);
      }
      &.feauteres-grids__col-icon_help-getting-3 {
        background-image: url(../images/service/help-getting/feauteres-grids/3.svg);
      }
      &.feauteres-grids__col-icon_help-getting-4 {
        background-image: url(../images/service/help-getting/feauteres-grids/4.svg);
      }
      &.feauteres-grids__col-icon_help-getting-5 {
        background-image: url(../images/service/help-getting/feauteres-grids/5.svg);
      }
    }

    // title
    .feauteres-grids__col-title {
      font-size: 24px;
      font-weight: $weigth_reg;
      min-height: 55px;
      margin-bottom: 20px;
      .feauteres-grids__col-title-count {
        color: $color_pr;
        padding-right: 5px;
      }
    }

    // description
    .feauteres-grids__col-description {
      width: 100%;
      max-width: 320px;
      color: $color_gr;
      font-size: 18px;
    }
  }
}

@media #{$xs} {
  .feauteres-grids {
    // col
    .feauteres-grids__col {
      // title
      .feauteres-grids__col-title {
        min-height: auto;
        margin-bottom: 10px;
      }
    }
  }
}
