.feedback-form {
  background: $color_wt;
  padding: 50px 25px;
  border: 4px solid #fdb341;
  max-width: 580px;

  // Title
  .feedback-form__title {
    font-size: 24px;
    font-weight: $weigth_reg;
    margin-bottom: 25px;
    margin-left: 70px;
    position: relative;
    .feddback-form__title-sub {
      font-weight: $weigt_light;
      font-size: 16px;
      padding: 5px 0px;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 46px;
      height: 50px;
      background: url(../images/icon/form.svg) 50% 50% no-repeat;
      background-size: 46px 50px;
      position: absolute;
      top: calc(50% - 25px);
      left: -70px;
    }
  }

  // Input inner
  .feedback-form__input-inner {
    margin-bottom: 25px;
    vertical-align: middle;
    // Label
    .feedback-form__label {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
      //mod
      &.feedback-form__label_textarea {
        width: 100%;
        max-width: 100%;
        text-align: left;
        height: auto;
        line-height: 1;
      }
    }
    // Input
    .feedback-form__input {
      font-size: 14px;
      color: $color_gr;
      text-align: left;
      display: block;
      height: 48px;
      width: 100%;
      max-width: 100%;
      border: 1px solid transparent;
      background: #f1f1f1;
      outline: none;
      box-shadow: none;
      padding: 15px;
      transition: .6s;
      &:focus {
        border: 1px solid $color_pr;
      }
      &::-webkit-input-placeholder {
        color: $color_gr;
      }
      &::-moz-placeholder {
        color: $color_gr;
      }
      &:-moz-placeholder {
        color: $color_gr;
      }
      &:-ms-input-placeholder {
        color: $color_gr;
      }
      //mod
      &.feedback-form__input_textarea {
        width: 100%;
        max-width: 100%;
        resize: none;
        height: 100px;
        padding: 15px;
        text-align: left;
      }
    }
    &::after {
      content: '';
      display: table;
      clear: both;
    }
    // Mod's
    &.feedback-form__input-inner-margin-bottom-big {
      margin-bottom: 35px;
    }
  }

  // Text description
  .feedback-form__text-description {
    font-size: 12px;
    color: $color_gr;
    margin-bottom: 20px;
    margin-top: -15px;
  }

  // Btn submit
  .feedback-form__btn-submit {
    display: block;
    width: 240px;
    height: 45px;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;

    // loader
    & .feedback-form__btn-submit-load-icon {
      display: none;
      width: 20px;
      height: 20px;
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
    }

    // btn load mod
    &.feedback-form__btn-submit_load {
      color: transparent;
      opacity: .5;
      transform: translateY(0px) !important;
      -webkit-box-shadow: 0px 4px 0px 0px #ff9b00 !important;
      -moz-box-shadow: 0px 4px 0px 0px #ff9b00 !important;
      box-shadow: 0px 6px 0px 0px #ff9b00 !important;
    }
  }
}

// Modal feedback
.feedback-form-modal {
  position: relative;
  max-width: 580px;
  margin: 0 auto;
}

// Modal thank page
.feedback-form-modal-thank-page {
  .feedback-form-modal-thank-page__btn {
    margin-bottom: 30px;
  }
}

@media #{$xs} {
  // Form
  .feedback-form {
    padding: 25px;
    // title
    .feedback-form__title {
      font-size: 18px;
    }
    // subtitle
    .feedback-form__subtitle {
      margin-bottom: 15px;
    }
    // label
    .feedback-form__label {
      display: none !important;
    }
  }
}
