// Main page section 1
.page-banner {
  padding-bottom: 100px;

  // background's modification
  // - main page
  &.page-banner_main-page {
    background: url(../images/main_page/main-page-1/bg.jpg) 50% 50% no-repeat;
    min-height: 100vh;
    background-size: cover;
  }
  // - main page
  &.page-banner_main-page_2 {
    background: url(../images/main_page/main-page-1/bg_2.jpg) 50% 50% no-repeat;
    min-height: 100vh;
    background-size: cover;
  }
  // help getting
  &.page-banner_help-getting {
    background: url(../images/service/help-getting/bg.jpg) 50% 50% no-repeat;
    min-height: 100vh;
    background-size: cover;
  }
  // cottage
  &.page-banner_cottage {
    background: url(../images/service/cottage/bg.jpg) 50% 0% no-repeat;
    min-height: 100vh;
    background-size: cover;
  }
  // office
  &.page-banner_office {
    background: url(../images/service/office/bg.jpg) 50% 100% no-repeat;
    min-height: 100vh;
    background-size: cover;
  }

  // Main title H1
  .page-banner__title {
    font-size: 38px;
    margin: 85px 0px 15px 0px;
    padding-bottom: 20px;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 56px;
      height: 6px;
      background: $color_pr;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
    // mod
    &.page-banner__title_white {
      color: $color_wt;
    }
  }

  // SubTitle
  .page-banner__sub-title {
    color: $color_gr;
    font-size: 16px;
    margin-bottom: 45px;
    // mod
    &.page-banner__sub-title_theme-color-black {
      color: $color_bk;
    }
  }

  .page-banner__logo-mobile {
    display: none;
  }
}

// lg 992-1200px
@media #{$lg} {

  // Title
  .page-banner .page-banner__title {
    font-size: 40px;
    margin-top: 55px;
  }

  // Cacl title
  .calculator-wrapper .calc-title {
    font-size: 22px;
  }
}

// lg 768-991px
@media #{$md} {
  // Page banner
  .page-banner {
    // Main title
    .page-banner__title {
      margin-top: 0px;
    }
    // Calc wrapper
    .page-banner__sub-title {
      font-size: 14px;
      margin-bottom: 75px;
    }
    // Logo img block
    .page-banner__logo-mobile {
      display: block;
      margin: 30px 0px;
      img {
        max-width: 126px;
      }
    }
    // Section calc
    .calculator-wrapper {
      max-width: 675px;
      padding: 40px 40px 25px 40px;
    }
  }
}

// sm 576-767px
@media #{$sm} {
  // Logo img block
  .page-banner__logo-mobile {
    display: block !important;
    margin: 25px 0px 5px 0;
    img {
      max-width: 126px;
    }
  }

  // Main title
  .page-banner .page-banner__title {
    margin-top: 20px;
    font-size: 30px;
  }

  // Main sub-title
  .page-banner .page-banner__sub-title {
    font-size: 14px;
    margin-bottom: 25px;
  }

  // Calculator wrapper
  .calculator-wrapper {
    max-width: 100%;
    padding: 20px;
  }
}

// xs max575px
@media #{$xs} {
  // Logo img block
  .page-banner__logo-mobile {
    display: block;
    margin-top: 50px;
    margin-bottom: -15px !important;
    img {
      max-width: 100px;
    }
  }

  // Main title
  .page-banner {
    // Title
    .page-banner__title {
      margin-top: 20px;
      font-size: 20px;
    }
    // Main sub-title
    .page-banner__sub-title {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }

  // Paege banner background 2 theme's
  .page-banner.page-banner_main-page_2 {
    background: url(../images/main_page/main-page-1/bg_2_mobile.png) 0% 0% no-repeat;
    background-size: 100% auto;
  }
}
